.color_dark-gray {
  color: #1f1f1f
}

.color_dark-gray-background {
  background-color: #1f1f1f;
}

.color_gray {
  color: #1f1f1f
}

.color_gray-background {
  background-color: #1f1f1f;
}

.color_blue {
  color: #2f80ed
}

.color_blue-background {
  background-color: #2f80ed;
}

.color_black {
  color: #000
}

.color_black-background {
  background-color: #000;
}
